<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Vendor List</title>
	<meta charset="UTF-8">
	
	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />

	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />

</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<table id="dataTable" class="table table-striped table-bordered">
		<thead>
			<tr class="row">
				<th class="col">Title</th>
				<th class="col">Ticket State</th>
				<th class="col">Actions</th>
			</tr>
		</thead>
		<tbody th:each="ticket : ${tickets}" th:remove="tag">
			<tr class="row">
				<td class="col" th:text="${ticket.title}"></td>
				<td class="col" th:text="${ticket.ticketState.getDisplayValue()}"></td>
				<td class="col">
				<a th:if="${ticket.ticketState.getDisplayValue() == 'Open'}" th:href="@{/manage/support-ticket/reply/__${ticket.id}__}">
						<i class="fas fa-reply fa-lg" title="Reply"></i>
					</a>
				<a href="#" th:unless="${ticket.ticketState.getDisplayValue() == 'Open'}"><i class="fas fa-trash-alt fa-lg" data-toggle="modal" th:data-target="${'#deleteConfirm' + ticket.id}" title="Delete Support Ticket"></i></a>
      				
					<th:block th:insert="fragments/support-elements.html :: modalbox-red"
						th:with="modalId=${'deleteConfirm' + ticket.id},modalTitle=${'Confirm Deletion'},modalBody=${'Are you sure you want to delete ' + ticket.title + '?'},
							modalConfirm=${'Delete'},confirmUrl=${'/manage/support-ticket/delete/' + ticket.id}">
					</th:block>
				</a>
				</td>
			</tr>
		</tbody>
	</table>	

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>