<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    <title>Not allowed perspective</title>
</head>
<body>
<div th:replace="fragments/layout.html :: navbar"></div>

<p class="text-center h2 mt-4">Current Perspective is not allowed</p>
<p class="text-center">Please switch your perspective and try again.</p>
<div class="text-center mb-4">
    <a th:href="@{/}">
        <button class="btn btn-primary">Go to homepage</button>
    </a>
</div>

<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>