<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>qMe - View Queues</title>
    <meta charset="UTF-8">

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />
    
    <style>
    	.clickable {
    		cursor: pointer;
    	}
    </style>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    		updateRows(document.getElementById('selectBranch'));
    	});
    	
    	function updateRows(element) {
    		let elements = document.getElementsByClassName('tablerow')
    		for (let i = 0; i < elements.length; i++) {
    			if (elements[i].getAttribute('data-branch') != element.value) {
    				elements[i].classList.add('d-none');
    			} else {
    				elements[i].classList.remove('d-none');
    			}
    		}
    	}
    	
    	function submitForm(element) {
    		let form = document.getElementById(element.getAttribute("data-form"));
    		form.submit();
    	}
    </script>
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>

	<h5 class="font-weight-bold mb-4 ml-2" th:text="${'Vendor: ' + vendor.name}"></h5>

	<form class="form-group form-inline">
		<label for="selectBranch" class="ml-2">Branch: </label>
		<select class="col-3 form-control ml-2" id="selectBranch" onchange="updateRows(this)">
			<option th:each="branch : ${branches}" th:value="${branch.id}" th:text="${branch.name}">
		</select>
	</form>	

	<table id="dataTable" class="table table-striped table-bordered">
		<thead>
			<tr class="row">
				<th class="col">Queue Name</th>
				<th class="col">Number in Queue</th>
				<th class="col">Status</th>
				<th class="col">Actions</th>
			</tr>
		</thead>
		<tbody th:each="queue : ${queueMap}" th:remove="tag">
			<tr class="row tablerow d-none" th:attr="data-branch=${queue.key.branch.id}">
				<td class="col" ><a th:href="@{'/OperateQueue/ViewSelectedQueue/' + ${queue.key.id}}" th:text="${queue.key.name}"></a></td>
				<td class="col" th:text="${queue.value}"></td>
				<td class="col" th:text="${queue.key.state.getDisplayValue()}"></td>
				<td class="col">					
	               	<th:block th:if="${queue.key.state.getDisplayValue() == 'Closed'}">
	                	<a th:href="@{/OperateQueue/UpdateQueueState/{qId}(qId=${queue.key.getId()})}"><i class="fas fa-door-open fa-lg" title="Open Queue"></i></a>
	               	</th:block>
	               	<th:block th:if="${queue.key.state.getDisplayValue() == 'Open'}"> 
	                	<a th:href="@{/OperateQueue/UpdateQueueState/{qId}(qId=${queue.key.getId()})}"><i class="fas fa-door-closed fa-lg" title="Close Queue"></i></a>             						
					</th:block>
					<th:block th:if="${counter == null && counters != null && not #lists.isEmpty(counters.get(queue.key.id))}">
						<i class="fas fa-sign-in-alt fa-lg clickable" data-toggle="modal" th:data-target="${'#signInCounter' + queue.key.id}" title="Sign In Counter"></i>
						
						<div th:unless="${#lists.isEmpty(counters.get(queue.key.id))}" class="modal fade" th:id="${'signInCounter' + queue.key.id}" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalTitle">Sign In Counter</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row row-cols-4">
											<div class="col" th:each="counter : ${counters.get(queue.key.id)}">
												<form method="post" th:action="@{/OperateQueue/sign-in}">
													<input type="hidden" name="counterId" th:value="${counter.id}">
													<button type="submit" class="btn btn-primary btn-sm" th:text="${counter.name}"></button>
												</form>										
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-mdb-color btn-sm" data-dismiss="modal">Cancel Sign In</button>
									</div>
								</div>
							</div>
						</div>						
					</th:block>
					<th:block th:if="${counter != null && counter.queue.id == queue.key.id}">
						<i class="fas fa-sign-out-alt fa-lg clickable" data-toggle="modal" th:data-target="${'#signOutCounter' + queue.key.id}" title="Sign out of counter"></i>
						
						<div class="modal fade" th:id="${'signOutCounter' + queue.key.id}" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalTitle">Confirm Sign Out Counter</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" th:text="${'Sign out of ' + counter.name + ' of ' + counter.queue.name + '?'}"></div>
									<div class="modal-footer">
								        <button type="button" class="btn btn-mdb-color btn-sm" data-dismiss="modal">Cancel</button>
								        <form method="post" th:action="@{/OperateQueue/sign-out}">
								        	<input type="hidden" name="counterId" th:value="${counter.id}">
								        	<button class="btn btn-stodanger btn-sm" type="submit">Sign Out</button>
								        </form>					        
							        				
									</div>
								</div>
							</div>
						</div>						
					</th:block>
					<i class="fas fa-qrcode fa-lg clickable" title="Generate QR Code" onclick="submitForm(this)" data-form="qr-code-form"></i>
					<form id="qr-code-form" target="_blank" method="post" th:action="@{/OperateQueue/qr-code}">
						<input type="hidden" id="queueURL" name="queueURL" 
							th:value="${#httpServletRequest.scheme} + '://' + ${#httpServletRequest.serverName} + ':' + ${#httpServletRequest.serverPort} + 
							@{/branch/{branchId}?joinQueue={queueId}(branchId=${queue.key.branch.id},queueId=${queue.key.id})}">						
					</form>
				</td>
			</tr>
		</tbody>
	</table>

    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>