<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>qMe - Branch Operator</title>
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
<div th:replace="fragments/layout.html :: navbar"></div>

<p><b>Vendor: </b><span th:text="${vendor}">VENDOR</span></p>

<!--Not implement drop down branch list-->

<table>
    <thead>
        <tr>
            <td>Queue Name</td>
            <td>Status</td>
            <td>Pax In Queue</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody th:each="entry :${queues}">
        <tr>
            <td ><span th:text="${queue.getName()}">QueueName</span></td>
            <td><span th:if="${queue.getState().ordinal()}==0" text="Closed">Closed</span><span th:if="${queue.getState().ordinal()}==1" text="Open">Open</span></td>
            <td><span th:text="${queuesWithPax.get(queue.getId())}">Pax</span></td>
            <td>
                <form method="get" th:action="@{/OperateQueue/ViewSelectedQueue/{qId}(qId=${queue.getId()})}" >
                    <input type="submit" value="ViewQueue" />
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/OperateQueue/UpdateQueueState/{qId}(qId=${queue.getId()})}" >
                    <input th:if="${queue.getState().ordinal()==0}" type="submit" value="Open" />
                    <input th:if="${queue.getState().ordinal()==1}" type="submit" value="Close" />
                </form>
            </td>
        </tr>
    </tbody>
</table>
<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>