<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Prototype - View Queue</title>

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    <style>
        tbody tr:nth-last-child(1) {
            color: blue;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/layout.html :: prototype-navbar"></div>

    <div class="mx-5">
        <h2 class="my-4">Prototype for real-time update of queue numbers</h2>
        <a th:href="@{/prototype/addQueueNumber}" target="_blank">
            <button class="btn btn-primary mb-4">Go to add queue number page</button>
        </a>
        <p><span class="font-weight-bold">Vendor:</span> <span th:text="${queue.branch.vendor.name}"></span></p>
        <p><span class="font-weight-bold">Branch:</span> <span th:text="${queue.branch.name}"></span></p>
        <p><span class="font-weight-bold">Queue Name:</span> <span th:text="${queue.name}"></span></p>
        <p><span class="font-weight-bold">Status:</span> <span th:text="${queue.state}"></span></p>
        <table class="table">
            <thead class="default-color-dark white-text">
                <tr>
                    <th scope="col">Queue Number</th>
<!--                    <th scope="col">Position</th>-->
                    <th scope="col">Duration In Queue (Currently displaying queue start time)</th>
                    <th scope="col">Rejoined?</th>
                    <th scope="col">For Operator Use</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="queuePosition : ${queuePositions}">
                    <td class="align-middle" th:text="${queuePosition.queueNumber}"></td>
<!--                    <td>1</td>-->
                    <td class="align-middle" th:text="${queuePosition.queueStartTime}"></td>
                    <td class="align-middle" th:text="${queuePosition.state.displayValue == 'Active Queue' ? 'No' : 'Yes'}"></td>
                    <td><button class="btn btn-sm">Reassign Position</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/layout.html :: footer"></div>

    <script>
        const eventSource = new EventSource("/prototype/sse");
        eventSource.onmessage = function (event) {
            if (event.data === "refresh") {
                location.reload();
            }
        }
    </script>
</body>
</html>