<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Google Charts With Thymeleaf</title>
    <!--Load the AJAX API-->
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    <th:block th:replace="fragments/sourcebundle.html :: google-charts" />

</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>

    <div class="row">
        <div class="col" id="chart_div"></div>
        <div class="col" id="piechart"></div>
    </div>

    <script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';
        var real_data_two = /*[[${chartData2}]]*/'noValue';
        
        Object.keys(real_data_two).forEach(function(key) {
            console.log(new Date(real_data_two[key]));
        });

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
        });

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Month',
                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('chart_div'));
            chart.draw(data, options);
        }

        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue stats',
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.PieChart(document
                .getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

    <div th:replace="fragments/layout.html :: footer"></div>
</body>


