<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Filler title, should not show up -->
    <title>Average Waiting Time</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="avgWaitingTime">
	<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#Three" data-toggle="tab">Three</a>
			</li>
			<li>
				<a class="nav-link" href="#Four" data-toggle="tab">Four</a>
			</li>
		</ul>
		<div class="tab-content" style="padding: 15px;">
			<div class="tab-pane active" id="Three">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#ThreeA" data-toggle="tab">ThreeA</a>
						</li>
						<li>
							<a class="nav-link" href="#ThreeB" data-toggle="tab">ThreeB</a>
						</li>
						<li>
							<a class="nav-link" href="#ThreeC" data-toggle="tab">ThreeC</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="ThreeA">
						ThreeA
						</div>
						<div class="tab-pane" id="ThreeB">
							<div id="piechart"></div>
						</div>
						<div class="tab-pane" id="ThreeC">
							ThreeC content
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Four">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#FourA" data-toggle="tab">FourA</a>
						</li>
						<li>
							<a class="nav-link" href="#FourB" data-toggle="tab">FourB</a>
						</li>
						<li>
							<a class="nav-link" href="#FourC" data-toggle="tab">FourC</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="FourA">
							FourA content
						</div>
						<div class="tab-pane" id="FourB">
							FourB content
						</div>
						<div class="tab-pane" id="FourC">
							FourC content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
        });

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Month',
                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('chart_div'));
            chart.draw(data, options);
        }

        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue stats',
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.PieChart(document
                .getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</body>
</html>