<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Filler title, should not show up -->
    <title>Average Waiting Time</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="avgWaitingTime">
	<div class="col-md-12">
	<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#Four" data-toggle="tab">Monthly</a>
			</li>
			<li>
				<a class="nav-link" href="#Five" data-toggle="tab">Daily</a>
			</li>
			<li>
				<a class="nav-link" href="#Six" data-toggle="tab">Hourly</a>
			</li>
		</ul>
		<div class="tab-content" style="padding: 15px;">
			<div class="tab-pane active" id="Four">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#FourA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#FourB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="FourA">
						<select onchange="updateEstTimeYear(this)">
								<option value="2020">2020</option>
								<option value ="2019">2019</option>
							</select>
							<div id="estTime_monthly_actual_div"></div>
				     	</div>
						<div class="tab-pane" id="FourB">
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Five">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#FiveA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#FiveB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="FiveA">
						<select onchange="updateEstTimeMonth(this)">
								<option value="11">This Month</option>
								<option value ="10">Last Month</option>
							</select>
							<div id="estTime_daily_actual_div"></div>
						</div>
						<div class="tab-pane" id="FiveB">
							FiveB content
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Six">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#SixA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#SixB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="SixA">
						<select onchange="updateEstTimeDate(this)">
								<option value="31">Today</option>
								<option value ="30">Yesterday</option>
							</select>
							<div id="estTime_hourly_actual_div"></div>
						</div>
						<div class="tab-pane" id="SixB">
							SixB content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
        var est_data = /*[[${estWaitingTimeData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(function() {
            	drawEstTimeActualMonthlyChart(new Date().getFullYear()-1);
            });
            google.charts.setOnLoadCallback(function() {
            	drawEstTimeActualDailyChart(11);
            });
            google.charts.setOnLoadCallback(function() {
            	drawEstTimeActualHourlyChart(31);
            });
        });
        
        
        function updateEstTimeYear(element) {
			if (document.readyState === 'complete') {
				drawEstTimeActualMonthlyChart(element.value);
			}
		}
        
        function updateEstTimeMonth(element) {
			if (document.readyState === 'complete') {
				drawEstTimeActualDailyChart(element.value);
			}
		}
        
        function updateEstTimeDate(element) {
			if (document.readyState === 'complete') {
				drawEstTimeActualHourlyChart(element.value);
			}
		}

        function drawEstTimeActualMonthlyChart(year) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(est_data).forEach(function(key) {
                data.addRow([ new Date(key), est_data[key] ]);
            });
            
			var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == year);
            	}
            }])); 
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': google.visualization.data.month, 'type': 'number'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.avg, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Estimated Wait Time',
                hAxis : {
                    title : 'Month',

                },
                vAxis : {
                    title : 'Avg Est Time'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('estTime_monthly_actual_div'));
            chart.draw(grouped_data, options);
        }

        function drawEstTimeActualDailyChart(month) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(est_data).forEach(function(key) {
                data.addRow([ new Date(key), est_data[key] ]);
            });
            
			var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == 2020 && value.getMonth() == month);
            	}
            }])); 
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': function(val){return new Date(val.getFullYear(), val.getMonth(),val.getDate())}, 'type': 'date'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.avg, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Estimated Wait Time',
                hAxis : {
                    title : 'Day',

                },
                vAxis : {
                    title : 'Avg Est Time'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('estTime_daily_actual_div'));
            chart.draw(grouped_data, options);
        }
        
        
        function drawEstTimeActualHourlyChart(date) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(est_data).forEach(function(key) {
                data.addRow([ new Date(key), est_data[key] ]);
            });
            
            
			var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == 2020 && value.getMonth() == 11 && value.getDate() == date);
            	}
            }]));
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': function(val){return new Date(val.getFullYear(), val.getMonth(), val.getDate(), val.getHours());}, 'type': 'datetime'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.avg, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Estimated Waiting Time',
                hAxis : {
                    title : 'Hour',

                },
                vAxis : {
                    title : 'Avg Est Time'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('estTime_hourly_actual_div'));
            chart.draw(grouped_data, options);
        }
    </script>

</div>

</body>
</html>