<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Filler title, should not show up -->
    <title>Average Waiting Time</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="avgWaitingTime">
	<div class="col-md-12">
	<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#Four" data-toggle="tab">Monthly</a>
			</li>
			<li>
				<a class="nav-link" href="#Five" data-toggle="tab">Daily</a>
			</li>
			<li>
				<a class="nav-link" href="#Six" data-toggle="tab">Hourly</a>
			</li>
		</ul>
		<div class="tab-content" style="padding: 15px;">
			<div class="tab-pane active" id="Four">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#FourA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#FourB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="FourA">
							<div id="monthly_actual1_div"></div>
				     	</div>
						<div class="tab-pane" id="FourB">
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Five">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#FiveA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#FiveB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="FiveA">
						</div>
						<div class="tab-pane" id="FiveB">
							FiveB content
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Six">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#SixA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#SixB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="SixA">
						</div>
						<div class="tab-pane" id="SixB">
							SixB content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawActual1MonthlyChart);
            google.charts.setOnLoadCallback(drawActualDailyChart);
            google.charts.setOnLoadCallback(drawActualHourlyChart);
        });

        function drawActual1MonthlyChart() {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
            var grouped_data = google.visualization.data.group(
            		  data,
            		  [{'column': 0, 'modifier': google.visualization.data.month, 'type': 'number'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Month',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('monthly_actual1_div'));
            chart.draw(grouped_data, options);
        }

        function drawActualDailyChart() {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
            var grouped_data = google.visualization.data.group(
            		  data,
            		  [{'column': 0, 'modifier': function(val){return val.getDate();}, 'type': 'number'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Day',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('daily_actual_div'));
            chart.draw(grouped_data, options);
        }
        
        
        function drawActualHourlyChart() {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
            var grouped_data = google.visualization.data.group(
            		  data,
            		  [{'column': 0, 'modifier': function(val){return val.getHours();}, 'type': 'number'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Hour',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('hourly_actual_div'));
            chart.draw(grouped_data, options);
        }
    </script>

</div>

</body>
</html>