<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Filler title, should not show up -->
    <title>Number of Customers</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="noCustomers">
<div class="col-md-12">
	<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#One" data-toggle="tab">Monthly</a>
			</li>
			<li>
				<a class="nav-link" href="#Two" data-toggle="tab">Daily</a>
			</li>
			<li>
				<a class="nav-link" href="#Three" data-toggle="tab">Hourly</a>
			</li>
		</ul>
		<div class="tab-content" style="padding: 15px;">
			<div class="tab-pane active" id="One">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#OneA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#OneB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="OneA">
							<select onchange="updateYear(this)">
								<option value="2020">2020</option>
								<option value ="2019">2019</option>
							</select>
							<div id="monthly_actual_div"></div>
				     	</div>
						<div class="tab-pane" id="OneB">
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Two">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#TwoA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#TwoB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="TwoA">
							<select onchange="updateMonth(this)">
								<option value="11">This Month</option>
								<option value ="10">Last Month</option>
							</select>
							<div id="daily_actual_div"></div>
						</div>
						<div class="tab-pane" id="TwoB">
							TwoB content
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Three">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#ThreeA" data-toggle="tab">Actual</a>
						</li>
						<li>
							<a class="nav-link" href="#ThreeB" data-toggle="tab">Forecast</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="ThreeA">
						<select onchange="updateDate(this)">
								<option value="31">Today</option>
								<option value ="30">Yesterday</option>
							</select>
							<div id="hourly_actual_div"></div>
						</div>
						<div class="tab-pane" id="ThreeB">
							ThreeB content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
        	
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(function() {
            	drawActualMonthlyChart(new Date().getFullYear()-1);
            });
            
            google.charts.setOnLoadCallback(function() {
            	drawActualDailyChart(11);
            });
            google.charts.setOnLoadCallback(function() {
            	drawActualHourlyChart(31);
            });
       

        });

		function updateYear(element) {
			if (document.readyState === 'complete') {
				drawActualMonthlyChart(element.value);
			}
		}
		
		function updateMonth(element) {
			if (document.readyState === 'complete') {
				drawActualDailyChart(element.value);
			}
		}
        
		function updateDate(element) {
			if (document.readyState === 'complete') {
				drawActualHourlyChart(element.value);
			}
		}
		
        function drawActualMonthlyChart(year) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
            var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == year);
            	}
            }]));            
            
            
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': function(val){return new Date(val.getFullYear(), val.getMonth())}, 'type': 'date'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Month',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('monthly_actual_div'));
            chart.draw(grouped_data, options);
        }

        function drawActualDailyChart(month) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
			var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == 2020 && value.getMonth() == month);
            	}
            }])); 
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': function(val){return new Date(val.getFullYear(), val.getMonth(), val.getDate());}, 'type': 'date'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Day',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('daily_actual_div'));
            chart.draw(grouped_data, options);
        }
        
        
        function drawActualHourlyChart(date) {
            var data = new google.visualization.DataTable();
         
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ new Date(key), real_data[key] ]);
            });
            
			var view = new google.visualization.DataView(data)
            
            view.setRows(data.getFilteredRows([{
            	column: 0,
            	test: function(value) {
            		return (value.getFullYear() == 2020 && value.getMonth() == 11 && value.getDate() == date);
            	}
            }]));
            
            var grouped_data = google.visualization.data.group(
            		  view,
            		  [{'column': 0, 'modifier': function(val){return new Date(val.getFullYear(), val.getMonth(), val.getDate(), val.getHours());}, 'type': 'datetime'}],
            		  [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            	 );
             
            
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Hour',

                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.LineChart(document
                .getElementById('hourly_actual_div'));
            chart.draw(grouped_data, options);
        }
    </script>

</div>

</body>
</html>