<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Filler title, should not show up -->
    <title>Number of Customers</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="noCustomers">
<div class="col-md-12">
	<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#One" data-toggle="tab">One</a>
			</li>
			<li>
				<a class="nav-link" href="#Two" data-toggle="tab">Two</a>
			</li>
		</ul>
		<div class="tab-content" style="padding: 15px;">
			<div class="tab-pane active" id="One">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#OneA" data-toggle="tab">OneA</a>
						</li>
						<li>
							<a class="nav-link" href="#OneB" data-toggle="tab">OneB</a>
						</li>
						<li>
							<a class="nav-link" href="#OneC" data-toggle="tab">OneC</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="OneA">
									<div id="chart_div"></div>
						</div>
						<div class="tab-pane" id="OneB">
							OneB content
						</div>
						<div class="tab-pane" id="OneC">
							OneC content
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="Two">
				<div class="tabbable">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#TwoA" data-toggle="tab">TwoA</a>
						</li>
						<li>
							<a class="nav-link" href="#TwoB" data-toggle="tab">TwoB</a>
						</li>
						<li>
							<a class="nav-link" href="#TwoC" data-toggle="tab">TwoC</a>
						</li>
					</ul>
					<div class="tab-content" style="padding: 15px;">
						<div class="tab-pane active" id="TwoA">
							TwoA content
						</div>
						<div class="tab-pane" id="TwoB">
							TwoB content
						</div>
						<div class="tab-pane" id="TwoC">
							TwoC content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
        });

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue Stats',
                hAxis : {
                    title : 'Month',
                },
                vAxis : {
                    title : 'Queue Count'
                },
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('chart_div'));
            chart.draw(data, options);
        }

        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Queues');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Queue stats',
                chartArea: {  width: "50%", height: "70%" }
            };
            var chart = new google.visualization.PieChart(document
                .getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</div>

</body>
</html>