<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Enter Queue</title>
</head>
<body>

<h1 th:text="${queueInfo.fullname}"></h1>

<h3 style="color:Tomato;"> Welcome To The Queue</color></h3>

<h3 STYLE="Color: darkblue">YOUR QUEUE NUMBER IS</h3>
<p th:text="${queueInfo.queueNumber}"></p>

<h3 STYLE="Color: darkblue"><b>USER ID</b></h3>
<p th:text="${param.userId}"></p>

<h3 STYLE="Color: darkblue"><b>QUEUE ID</b></h3>
<p th:text="${param.queueId}"></p>


<div class="text-center">
    <form th:action="@{/manage/queue/leave}" th:method="post">
        <input type="hidden" name="userId" th:value="${queueInfo.user.id}"/>
        <input type="hidden" name="queueId" th:value="${param.queueId}"/>
        <button type="submit" class="btn btn-danger">Leave Queue</button>
    </form>
</div>

</body>
</html>