<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Leave Queue</title>
</head>
<body>

<h1 th:text="${queueInfo.fullname}"></h1>

<h3 style="color:Tomato;"> You Are leaving The Queue</h3>

<h3 STYLE="Color: darkblue"><b>USER ID</b></h3>
<p th:text="${param.userId}"></p>

<h3 style="Color:darkblue"> <b>QUEUE ID</b></h3>
<p th:text="${param.queueId}"></p>


</body>
</html>